strong {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 2rem 7%;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
  background: var(--gradient);
  z-index: 1000;
}
strong .second-nav {
  font-size: 2rem;
}
strong .phone {
  margin-left: 9rem;
  font-size: 2.3rem;
  /* background-color: red; */
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
}

.services .box img {
  height: 20rem;
  width: 100%;
}

.services .box .stars i {
  color: var(--light-green);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.services .box h3 {
  color: var(--dark-green);
  font-size: 2.5rem;
}

.services .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.services .icons {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 0.5rem;
  padding-top: 1rem;
}

.services .icons p {
  color: #666;
  font-size: 1.3rem;
}

.services .icons p i {
  text-align: center;
  color: var(--dark-green);
  font-size: 6rem;
}

@media (max-width: 991px) {
  strong {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 7%;
  }
  strong .second-nav {
    font-size: 1.5rem;
  }
  strong .phone {
    font-size: 2.5rem;
  }
}
