@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --light-green: #17d67b;
  --lighter-greenie: #bbeeae;
  --light-greenie: #a7dbd8;
  --dark-green: #0f4420;
  --light-darker-grey: #cbcebc;
  --light-grey: #e0e4cc;
  --darker-grey: #a3a597;
  --dark-grey: #4f504b;
  --gradient: linear-gradient(90deg, var(--dark-green), var(--light-green));
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--light-green);
}

html::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: 5rem;
}

body {
  background: var(--gradient);
  padding: 1rem 0.5%;
}

section {
  padding: 2rem 7%;
}

.container {
  background: var(--light-grey);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 1rem;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  background: var(--dark-green);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--gradient);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 7%;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: var(--light-darker-grey);
  z-index: 1000;
}

header .logo img {
  height: 3.5rem;
}

header .logo span {
  color: var(--light-greenie);
}

header .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: #333;
}
header .navbar p {
  margin-left: 2rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: red;
}

header .navbar a:hover {
  color: var(--light-green);
}

#menu {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
}

.footer {
  background-color: var(--light-darker-grey);
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--dark-green);
  padding: 0.7rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 0.7rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 0.7rem 0;
}
.footer .box-container .box a .fab {
  font-size: 2rem;
}
.footer .box-container .box a .fa-facebook-f {
  color: #4267b2;
}
.footer .box-container .box a .fa-facebook-f:hover {
  color: #444f66;
  font-size: 2.5rem;
}
.footer .box-container .box a .fa-instagram {
  color: #e1306c;
}
.footer .box-container .box a .fa-instagram:hover {
  color: #ac5471;
  font-size: 2.5rem;
}
.footer .box-container .box a .fa-linkedin-in {
  color: #2867b2;
}
.footer .box-container .box a .fa-linkedin-in:hover {
  color: #253a53;
  font-size: 2.5rem;
}

.footer .box-container .box a:hover {
  color: var(--light-green);
}

.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: var(--dark-green);
}

.footer .credit {
  font-size: 2rem;
  padding-top: 1rem;
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #666;
}
.footer .credit p {
  font-size: 1.2rem;
}

.footer .credit span {
  color: var(--dark-green);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 1.5rem;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--light-darker-grey);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    padding-top: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    font-size: 2.5rem;
    display: block;
    margin: 2rem 0;
    text-align: center;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
